@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.button_open {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.btn {
  position: relative;
  margin-top: 3rem;
  width: 26rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1.2rem 0;
  border-radius: 33px;
  background: none;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
  z-index: 5;
  letter-spacing: 0.4rem;
  overflow: hidden;
  transition: border 0.4s ease-out;
}

.btn:hover {
  color: #fff;
  border: 3px solid transparent;
}

.btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  transform: translateY(-100%);
  background: #f54642;
  background-size: 400%;
  border-radius: 40px;
  transition: 0.5s;
}

.btn:hover:before {
  transform: translateY(0%);
  -webkit-animation: hover-animation 0.5s ease-in-out;
  animation: hover-animation 0.5s ease-in-out;
}

@-webkit-keyframes hover-animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes hover-animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.btn_form {
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 16rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border-radius: 16px;
  background: #f54642;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.25), 6px 6px 14px rgba(0, 0, 0, 0.25), inset 3px 3px 8px rgba(255, 255, 255, 0.25), inset -3px -3px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.4 ease-in;
}

.btn_form:active, .btn_form:focus {
  outline: none;
}

.btn_form:hover::after {
  width: 100%;
  height: 100%;
}

.btn_form:active {
  border: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.25), 3px 3px 6px rgba(0, 0, 0, 0.25), inset 1px 1px 4px rgba(255, 255, 255, 0.25), inset -1px -1px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #e5e5e5;
  scroll-behavior: smooth;
}

body {
  background-image: url(../../images/bg_blur_white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.menu_wrap {
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 1.3rem;
  right: 3.1rem;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0.7rem;
  right: 2rem;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hamburger line */
.hamburger > div {
  position: relative;
  width: 80%;
  height: 5px;
  background: #000052;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}

/* top & bottom lines */
.hamburger > div:before,
.hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -14px;
  width: 100%;
  height: 5px;
  background: #000052;
}

/* bottom line */
.hamburger > div::after {
  top: 14px;
}

/* toggler animate */
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  transition: all 0.4s ease-in;
}

/* turn lines into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate on hover when checked */
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu */
.toggler:checked ~ .menu {
  visibility: visible;
}

.toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.6s;
}

.toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_background {
  background: #fff;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease-in;
}

.menu_background > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.burger_item {
  list-style: none;
  color: #000052;
  font-size: 2rem;
  padding: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1rem 0;
}

.burger_item a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease-in;
}

.burger_item a:hover {
  color: #f54642;
}

.fab {
  font-size: 3.6rem;
  padding: 0 2rem;
}

.form_blur {
  position: absolute;
}

/* form body */
.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form_home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 44rem;
  margin: 3rem;
  z-index: 3;
  background: #efeeee;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.6);
  border-radius: 32px 0px;
  color: #000052;
}

/* name area */
input,
select,
textarea {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  background: rgba(239, 238, 238, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: inset 6px 6px 16px rgba(118, 115, 112, 0.5), inset -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  outline: none;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #000052;
  font-weight: 600;
  border-radius: 18px;
  color: #000052;
  font-family: "Poppins", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  background: rgba(239, 238, 238, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: inset 6px 6px 16px rgba(118, 115, 112, 0.5), inset -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  outline: none;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #000052;
  font-weight: 600;
  border-radius: 18px;
  color: #000052;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: #000052;
}

textarea {
  height: 120px;
}

.form_text {
  position: relative;
  width: 155px;
  height: 33px;
  margin-left: 5.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.2;
}

.close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 4rem;
  color: #000052;
  z-index: 1;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close:hover {
  transform: rotate(90deg);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  overflow: scroll;
  height: 100%;
  -ms-scroll-snap-type: both mandatory;
  scroll-snap-type: both mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.active {
  -ms-scroll-snap-type: unset;
  scroll-snap-type: unset;
}

.slide {
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
  background: #e5e5e5;
  font-size: 3.6rem;
  text-align: center;
  border-radius: 0 62px;
  padding: 4rem;
  margin: 0rem 2rem;
}

.slide:nth-child(1) {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #000033;
  margin: 0 8rem 0 0;
  background: transparent;
}

.slide:nth-child(1) .works_text {
  height: 100%;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.slide:nth-child(1) h1 {
  font-size: 8rem;
  font-weight: 900;
  vertical-align: middle;
  text-align: left;
}

.slide:nth-child(1) h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.6rem;
  text-align: center;
  padding-top: 3rem;
  color: #000052;
  text-align: left;
  letter-spacing: 0.4rem;
  font-size: 0.7em;
  text-transform: capitalize;
  margin-right: 1rem;
}

.drag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 0.6rem;
}

.drag .fas {
  color: #000033;
}

.arrow_right {
  font-size: 4.8rem;
  color: #000052;
  margin-left: 4.6rem;
}

.slide:nth-child(2) {
  width: 86rem;
  background-image: url(../../images/varuna_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(3) {
  width: 86rem;
  background-image: url(../../images/orchard_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(4) {
  width: 86rem;
  background-image: url(../../images/maite_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(5) {
  width: 86rem;
  background-image: url(../../images/alchemist_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(6) {
  width: 86rem;
  background-image: url(../../images/victor_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: "Montserrat", sans-serif;
}

.slide:nth-child(7) h2 {
  font-size: 6rem;
  font-weight: 900;
  vertical-align: middle;
  color: #000033;
  text-align: right;
}

.slide:nth-child(7) h3 {
  color: #000033;
  text-align: right;
}

.slide:nth-child(7) .fas {
  margin: 6rem;
  font-size: 6rem;
}

#cards {
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  margin: 0 auto;
}

.card {
  background: #fff;
  transform-style: preserve-3d;
  min-height: 42rem;
  max-width: 32rem;
  border-radius: 30px;
  padding: 2rem 5rem;
  z-index: 3;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  animation: card_scale 0.5s ease-in-out;
  transform: scale(1.14);
}

@keyframes card_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.16);
  }
  100% {
    transform: scale(1.14);
  }
}
.card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_icon .card_circle {
  width: 14rem;
  height: 14rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background: linear-gradient(231.08deg, #5f6fff 14.53%, rgba(255, 255, 255, 0) 88.79%), linear-gradient(180deg, #ffc530 37.5%, rgba(255, 255, 255, 0) 100%), linear-gradient(227.68deg, #ff2e29 86.62%, rgba(255, 255, 255, 0) 86.63%);
}

.img_1 {
  width: 14rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  margin-right: 12px;
}

.img_2 {
  width: 12rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  margin: 0.5rem;
}

.img_3 {
  width: 8.8rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.card_info {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  transition: all 0.75s ease-out;
}

.card_title {
  font-size: 3rem;
  margin-top: 3rem;
  transition: all 0.75s ease-out;
  color: #000052;
}

.card_text {
  font-size: 1.4rem;
  padding: 2rem 0rem;
  font-weight: 500;
  transition: all 0.75s ease-out;
  text-transform: uppercase;
  color: #000052;
}

.card_intouch {
  margin-top: 2rem;
  transition: all 0.3s ease-out;
}

.card_intouch {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
  border: 3px solid #f54642;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.card_intouch:hover {
  background: #fff;
  color: #f54642;
  border: 3px solid #f54642;
  font-weight: 600;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
}

.card_intouch:active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

#showcase {
  background-color: #000052;
  background: radial-gradient(circle, #000052 35%, #2a20aa 105%);
  -webkit-animation: show 80s infinite alternate;
  animation: show 80s infinite alternate;
  background-size: 20%;
  background-position: center;
  max-width: 100vw;
  min-height: 75vh;
  height: auto;
  padding-bottom: 6rem;
  border-radius: 0 0 255px 255px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#showcase_paragraph {
  text-align: center;
}
#showcase h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 16rem;
  z-index: 0;
}
#showcase p {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 3.6rem;
  max-width: 56rem;
  margin: 0 auto;
  color: #fff;
}
#showcase .paragraph_secondary {
  font-weight: 200;
  font-size: 1.6rem;
  padding-top: 3rem;
}
#showcase a {
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes show {
  0% {
    background-size: 10%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes show {
  0% {
    background-size: 10%;
  }
  100% {
    background-size: 100%;
  }
}
#cards {
  max-width: 100vw;
  height: 80vh;
}

.cards_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  margin: 0 auto;
}

.card {
  z-index: 1;
}

.card1 img,
.card2 img,
.card3 img {
  max-width: 32rem;
  z-index: 3;
}

.cards_container svg {
  width: 100%;
  margin-top: 6rem;
}

.cards_gradient {
  -webkit-animation: cards_gr 38s infinite alternate;
  animation: cards_gr 38s infinite alternate;
  position: absolute;
  left: 0;
  width: 120%;
  height: 80vh;
  z-index: 0;
}

@-webkit-keyframes cards_gr {
  0% {
    transform: scale(1) rotate(-1deg);
  }
  100% {
    transform: scale(1.8) rotate(30deg);
  }
}
@keyframes cards_gr {
  0% {
    transform: scale(1) rotate(-1deg);
  }
  100% {
    transform: scale(1.8) rotate(30deg);
  }
}
#contact {
  background: #000052;
  background: radial-gradient(circle, #000052 35%, #090181 100%);
  -webkit-animation: show 298s infinite alternate;
  animation: show 298s infinite alternate;
  background-size: 140%;
  background-position: center;
  max-width: 100vw;
  min-height: 40vh;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contact h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 16rem;
  padding-top: 5rem;
}
#contact h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.6rem;
  text-align: center;
  padding-top: 3rem;
}

#form {
  background: #e5e5e5;
  background: radial-gradient(circle, #e3e3e2 42%, #e5e5e5 5%);
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 100%;
  transition: opacity 0.1s ease;
}

#works {
  height: 65rem;
  z-index: 1;
  background-image: url(../../images/blur_yellow_pink.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
}

.button_open {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.btn {
  position: relative;
  margin-top: 3rem;
  width: 26rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1.2rem 0;
  border-radius: 33px;
  background: none;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
  z-index: 5;
  letter-spacing: 0.4rem;
  overflow: hidden;
  transition: border 0.4s ease-out;
}

.btn:hover {
  color: #fff;
  border: 3px solid transparent;
}

.btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  transform: translateY(-100%);
  background: #f54642;
  background-size: 400%;
  border-radius: 40px;
  transition: 0.5s;
}

.btn:hover:before {
  transform: translateY(0%);
  -webkit-animation: hover-animation 0.5s ease-in-out;
  animation: hover-animation 0.5s ease-in-out;
}

@-webkit-keyframes hover-animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes hover-animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.btn_form {
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 16rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border-radius: 16px;
  background: #f54642;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.25), 6px 6px 14px rgba(0, 0, 0, 0.25), inset 3px 3px 8px rgba(255, 255, 255, 0.25), inset -3px -3px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.4 ease-in;
}

.btn_form:active, .btn_form:focus {
  outline: none;
}

.btn_form:hover::after {
  width: 100%;
  height: 100%;
}

.btn_form:active {
  border: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.25), 3px 3px 6px rgba(0, 0, 0, 0.25), inset 1px 1px 4px rgba(255, 255, 255, 0.25), inset -1px -1px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #e5e5e5;
  scroll-behavior: smooth;
}

body {
  background-image: url(../../images/bg_blur_white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.menu_wrap {
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 1.3rem;
  right: 3.1rem;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0.7rem;
  right: 2rem;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hamburger line */
.hamburger > div {
  position: relative;
  width: 80%;
  height: 5px;
  background: #000052;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}

/* top & bottom lines */
.hamburger > div:before,
.hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -14px;
  width: 100%;
  height: 5px;
  background: #000052;
}

/* bottom line */
.hamburger > div::after {
  top: 14px;
}

/* toggler animate */
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  transition: all 0.4s ease-in;
}

/* turn lines into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate on hover when checked */
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu */
.toggler:checked ~ .menu {
  visibility: visible;
}

.toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.6s;
}

.toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_background {
  background: #fff;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease-in;
}

.menu_background > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.burger_item {
  list-style: none;
  color: #000052;
  font-size: 2rem;
  padding: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1rem 0;
}

.burger_item a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease-in;
}

.burger_item a:hover {
  color: #f54642;
}

.fab {
  font-size: 3.6rem;
  padding: 0 2rem;
}

.form_blur {
  position: absolute;
}

/* form body */
.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form_home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 44rem;
  margin: 3rem;
  z-index: 3;
  background: #efeeee;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.6);
  border-radius: 32px 0px;
  color: #000052;
}

/* name area */
input,
select,
textarea {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  background: rgba(239, 238, 238, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: inset 6px 6px 16px rgba(118, 115, 112, 0.5), inset -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  outline: none;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #000052;
  font-weight: 600;
  border-radius: 18px;
  color: #000052;
  font-family: "Poppins", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  background: rgba(239, 238, 238, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: inset 6px 6px 16px rgba(118, 115, 112, 0.5), inset -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  outline: none;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #000052;
  font-weight: 600;
  border-radius: 18px;
  color: #000052;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: #000052;
}

textarea {
  height: 120px;
}

.form_text {
  position: relative;
  width: 155px;
  height: 33px;
  margin-left: 5.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.2;
}

.close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 4rem;
  color: #000052;
  z-index: 1;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close:hover {
  transform: rotate(90deg);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  overflow: scroll;
  height: 100%;
  -ms-scroll-snap-type: both mandatory;
  scroll-snap-type: both mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.active {
  -ms-scroll-snap-type: unset;
  scroll-snap-type: unset;
}

.slide {
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
  background: #e5e5e5;
  font-size: 3.6rem;
  text-align: center;
  border-radius: 0 62px;
  padding: 4rem;
  margin: 0rem 2rem;
}

.slide:nth-child(1) {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #000033;
  margin: 0 8rem 0 0;
  background: transparent;
}

.slide:nth-child(1) .works_text {
  height: 100%;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.slide:nth-child(1) h1 {
  font-size: 8rem;
  font-weight: 900;
  vertical-align: middle;
  text-align: left;
}

.slide:nth-child(1) h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.6rem;
  text-align: center;
  padding-top: 3rem;
  color: #000052;
  text-align: left;
  letter-spacing: 0.4rem;
  font-size: 0.7em;
  text-transform: capitalize;
  margin-right: 1rem;
}

.drag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 0.6rem;
}

.drag .fas {
  color: #000033;
}

.arrow_right {
  font-size: 4.8rem;
  color: #000052;
  margin-left: 4.6rem;
}

.slide:nth-child(2) {
  width: 86rem;
  background-image: url(../../images/varuna_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(3) {
  width: 86rem;
  background-image: url(../../images/orchard_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(4) {
  width: 86rem;
  background-image: url(../../images/maite_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(5) {
  width: 86rem;
  background-image: url(../../images/alchemist_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(6) {
  width: 86rem;
  background-image: url(../../images/victor_desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: "Montserrat", sans-serif;
}

.slide:nth-child(7) h2 {
  font-size: 6rem;
  font-weight: 900;
  vertical-align: middle;
  color: #000033;
  text-align: right;
}

.slide:nth-child(7) h3 {
  color: #000033;
  text-align: right;
}

.slide:nth-child(7) .fas {
  margin: 6rem;
  font-size: 6rem;
}

#cards {
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  margin: 0 auto;
}

.card {
  background: #fff;
  transform-style: preserve-3d;
  min-height: 42rem;
  max-width: 32rem;
  border-radius: 30px;
  padding: 2rem 5rem;
  z-index: 3;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  animation: card_scale 0.5s ease-in-out;
  transform: scale(1.14);
}

@keyframes card_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.16);
  }
  100% {
    transform: scale(1.14);
  }
}
.card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_icon .card_circle {
  width: 14rem;
  height: 14rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background: linear-gradient(231.08deg, #5f6fff 14.53%, rgba(255, 255, 255, 0) 88.79%), linear-gradient(180deg, #ffc530 37.5%, rgba(255, 255, 255, 0) 100%), linear-gradient(227.68deg, #ff2e29 86.62%, rgba(255, 255, 255, 0) 86.63%);
}

.img_1 {
  width: 14rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  margin-right: 12px;
}

.img_2 {
  width: 12rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  margin: 0.5rem;
}

.img_3 {
  width: 8.8rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.card_info {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  transition: all 0.75s ease-out;
}

.card_title {
  font-size: 3rem;
  margin-top: 3rem;
  transition: all 0.75s ease-out;
  color: #000052;
}

.card_text {
  font-size: 1.4rem;
  padding: 2rem 0rem;
  font-weight: 500;
  transition: all 0.75s ease-out;
  text-transform: uppercase;
  color: #000052;
}

.card_intouch {
  margin-top: 2rem;
  transition: all 0.3s ease-out;
}

.card_intouch {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
  border: 3px solid #f54642;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.card_intouch:hover {
  background: #fff;
  color: #f54642;
  border: 3px solid #f54642;
  font-weight: 600;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
}

.card_intouch:active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

#navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #fff;
  z-index: 1;
}

.navbar_logo {
  margin: 1.2rem 0rem 1rem 2rem;
}

.navbar_menu {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.navbar_menu-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-right: 5rem;
}

.navbar_menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  margin-left: 6rem;
}
.navbar_menu-item .fab {
  font-size: 3rem;
}
.navbar_menu-item a:active, .navbar_menu-item a:link,
.navbar_menu-item .fab {
  color: #000052;
  text-decoration: none;
  transition: color 0.4s ease;
}
.navbar_menu-item a:active:hover, .navbar_menu-item a:link:hover,
.navbar_menu-item .fab:hover {
  color: #f54642;
}

.burger {
  display: none;
  width: auto;
}

#footer {
  width: 100vw;
  min-height: 40vh;
  height: auto;
  background: #000052;
  color: #fff;
  z-index: 12;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 90%;
  min-height: 36rem;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 12;
}
.container a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.28s ease-in;
}
.container a:hover {
  color: #f54642;
}
.container a:hover .fab,
.container a:hover .far,
.container a:hover .fas {
  transform: scale(1.6) rotate(-16deg);
}

.copy {
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
}

.my_name {
  font-size: 1.6rem;
  font-weight: 700;
}

.red {
  font-size: 1.4rem;
  position: relative;
  bottom: 0;
  color: #f54642;
  margin: 0 1rem;
}

.container_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  min-width: 18rem;
}

ul li {
  list-style: none;
}

.footer_item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
}
.footer_item .fab,
.footer_item .far,
.footer_item .fas {
  font-size: 1.5rem;
  padding: 0;
  margin-right: 1.8rem;
  transition: all 0.2s ease-in;
}

.footer_title {
  margin: 0rem 0 2rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 10rem;
}

/*# sourceMappingURL=main.css.map */
