#showcase {
  background: $primary-color;
  min-width: 100vw;
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond(ph) {
    min-height: 40vh;
  }
}
.animation_home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  margin: auto;
  @include respond(ph) {
    top: 30%;
  }
}

#hello {
  margin-top: 4%;
}

.showcase_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: $white;
  opacity: 0;
  position: relative;
  top: 20rem;
}

.paragraph {
  @include paragraph;
  text-align: left;
  font-size: 2.4rem;
  width: 66rem;
  @include respond(ph) {
    width: 90%;
    padding-right: 2rem;
  }
}

#showcase > div.showcase_info > h1 {
  @include respond(ph) {
    margin-top: 25%;
  }
}

.subparagraph {
  @include subparagraph;
  font-size: 3rem;
  text-align: left;
  @include respond(ph) {
    font-size: 2.6rem;
    // text-align: center;
    width: 80%;
  }

  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-in;
    color: $accent;

    &:hover {
      transform: skewX(25deg);
    }
  }
}

// CARDS
#cards {
  max-width: 100vw;
  background-image: url(../../images/blur_yellow_pink.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// CONTACT SECTION
#contact {
  background: $primary-color;
  background-position: center;
  width: 100vw;
  min-height: 60vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include respond(ph) {
    min-height: 40vh;
  }
}

.contact_header {
  margin-top: 4rem;
  @include respond(ph) {
    width: 90%;
    text-align: center;
  }
}

.contact_sub {
  @include subheader;
  @include respond(ph) {
    font-size: 3rem;
  }
}

// FORM
#main_form {
  background: $white;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 100%;
  transition: opacity 0.1s ease;
}
