@use '../abstracts/' as *;

#showcase {
  background-color: $primary-color;
  background-image: url(../../images/blur_show.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 75vh;
  height: auto;
  padding-bottom: 6rem;
  border-radius: 0 0 255px 255px;
  @include main_container;

  &_paragraph {
    text-align: center;
  }
  h1 {
    @include header;
    z-index: 0;
  }
  p {
    @include paragraph;
    color: $white;
  }
  .paragraph_secondary {
    font-weight: 200;
    font-size: 1.6rem;
    max-width: 100%;
    padding-top: 3rem;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

// CARDS SECTION
#cards {
  width: 100%;
  height: 80vh;
  // height: auto;
}
.card {
  z-index: 1;
}

// CONTACT SECTION
#contact {
  background: $primary-color;
  background: radial-gradient(
    circle,
    rgb(90, 13, 77) 0.2%,
    rgba(0, 0, 82, 1) 8%
  );
  width: 100%;
  min-height: 40vh;
  height: auto;
  border-radius: 12px;
  @include main_container;

  h1 {
    @include header;
    padding-top: 8rem;
  }
  h2 {
    @include subheader;
  }
}

// FORM
#form {
  background: $bg-clear;
  background: radial-gradient(
    circle,
    rgb(227, 227, 226) 42%,
    rgba(229, 229, 229) 5%
  );
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 100%;
  transition: opacity 0.1s ease;
}

// WORKS
#works {
  height: 58rem;
  z-index: 1;
  background-image: url(../../images/blur_yellow_pink.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    @include header;
    text-align: left;
    padding-top: 0.1rem;
    margin-left: 3rem;
    color: $primary-color;
  }
  h2 {
    @include subheader;
    color: $primary-color;
    text-align: left;
    margin-left: 3rem;
    font-size: 2.4rem;
  }
}
