// WORKS
#works {
  height: auto;
  z-index: 1;
  background-image: url(../../images/blur_yellow_pink.svg);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: bottom;
  text-transform: uppercase;
  @include respond(dsk) {
    margin-top: 0rem;
  }
  @include respond(tp) {
    margin-top: 20rem;
  }
  @include respond(ph) {
    margin-top: 20rem;
  }
}
.works_container {
  @include container;
  max-width: 160rem;
  flex-direction: column;
}

.works_show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4vw 0;
  @include respond(tp) {
    flex-direction: column;
  }
}

.works_card {
  // margin: 2rem;
  width: 437px;
  height: 437px;
  border-radius: 0 52px 0 52px;
  box-shadow: $shade_large;
  text-align: center;
  margin: 1rem;
  @include respond(ph) {
    width: 94vw;
    height: 94vw;
    max-width: 340px;
    max-height: 340px;
  }
}
.works1,
.works2,
.works3,
.works4,
.works5,
.works6 {
  background-color: $secondary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.works1 {
  background-image: url('../../images/varuna_desk.jpg');
}
.works2 {
  background-image: url('../../images/maite_desk.jpg');
}
.works3 {
  background-image: url('../../images/orchard_desk.jpg');
}
.works4 {
  background-image: url('../../images/alchemist_desk.jpg');
}
.works5 {
  background-image: url('../../images/victor_desk.jpg');
}
.works6 {
  background-image: url('../../images/miss_desk.jpg');
}

.works_case {
  margin-bottom: 1rem;
  transition: all 0.3s ease-out;
  width: 60%;
  padding: 1rem 0rem;
  background: $accent;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
  border: 3px solid $accent;
  font-family: $primary-font;
  outline: none;
  position: relative;
  top: 28.6rem;

  &:hover {
    background: $white;
    color: $accent;
    border: 3px solid $accent;
    font-weight: 600;
    box-shadow: 4px 4px 12px rgba($color: #000000, $alpha: 0.6);
  }
  &:active {
    box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.4);
  }
}

.works_header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vw;
  margin-bottom: 1vw;
  img {
    width: 40vw;
    height: auto;
  }
}

// HOVER
.works_hover {
  opacity: 0;
  position: relative;
  background: rgba($color: #000000, $alpha: 0.9);
  width: 100%;
  height: 100%;
  color: $white;
  padding: 0.6rem 1.5rem;
  border-radius: 0 52px;
  transition: all 0.35s ease-in;
  // cursor: pointer;
  overflow: hidden;
  &:hover {
    opacity: 1;
  }
}
.works_title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 1.2rem;
  @include respond(dsk) {
    margin-top: 1rem;
  }
  @include respond(ph) {
    font-size: 3.4rem;
    margin-top: 1rem;
  }
}
.works_subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1.4rem;
  color: $accent;
  @include respond(ph) {
    font-size: 1.6rem;
  }
}
.works_text {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  text-transform: initial;
  height: 252px;
  @include respond(ph) {
    font-size: 11px;
    margin-bottom: 0.2rem;
    height: 200px;
  }
}

.works_btn {
  position: relative;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 2rem);
  font-size: 1.6rem;
  @include respond(ph) {
    font-size: 1.8rem;
    top: 6rem;
  }
}

.test_header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vw;
  margin-bottom: 1vw;
  img {
    width: 78vw;
    height: auto;
    @include respond(tp) {
      width: 96%;
      margin: 12rem 0 0 0;
    }
  }
}

.testimonial {
  display: flex;
  width: 30vw;
  margin: 2rem;
  @include respond(tp) {
    width: 90%;
    margin: 4rem 0;
  }

  img {
    float: left;
    top: 2rem;
    shape-outside: circle(50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem;
  }
  p {
    text-transform: initial;
    font-size: 18px;
    font-weight: 500;
    @include respond(tp) {
      font-size: 16px;
    }
  }
}
