* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: $accent;
}

html {
  font-size: 62.5%;
  background: $white;
  scroll-behavior: smooth;
}
body {
  // background-image: url(../../images/bg_blur_white.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  font-family: $primary-font;
}

@mixin container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
