// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == ph {
    @media only screen and (max-width: 608px) {
      @content;
    }
  }
  @if $breakpoint == tp {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == tl {
    @media only screen and (max-width: 999px) {
      @content;
    }
  }
  @if $breakpoint == dsk {
    @media only screen and (max-width: 1300px) {
      @content;
    }
  }
  @if $breakpoint == wide {
    @media only screen and (min-width: 1300px) {
      @content;
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $accent;
  }
}

.active {
  color: $accent;
}

html {
  font-size: 62.5%;
  background: $white;
  scroll-behavior: smooth;

  @include respond(wide) {
    font-size: 62.5;
  }

  @include respond(dsk) {
    font-size: 56.25%;
  }

  @include respond(tl) {
    font-size: 53%;
  }

  @include respond(tp) {
    font-size: 50%;
  }
  @include respond(ph) {
    font-size: 34%;
  }
}
body {
  font-family: $primary-font;
  overflow-x: hidden;
}

@mixin container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
