#cards_gradient {
  position: absolute;
  // -webkit-animation: cards_gr 38s infinite alternate;
  // animation: cards_gr 38s infinite alternate;
  position: absolute;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 0;
}

#cards {
  max-width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // z-index: 3;
  // margin: 0 auto;
}

.cards_container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform-style: preserve-3d;

  svg {
    width: 100%;
    margin-top: 6rem;
  }
}

.card {
  background: $white;
  transform-style: preserve-3d;
  min-height: 42rem;
  max-width: 32rem;
  border-radius: 30px;
  padding: 2rem 5rem;
  z-index: 3;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  transform: perspective(120rem);
  transition: all 0.2s ease;
  z-index: 1;
}

// .card1 img,
// .card2 img,
// .card3 img {
//   max-width: 32rem;
//   border: 0.25px solid rgba($primary-color, 0.2);
//   box-shadow: 2px 2px 8px rgba($primary-color, 0.3);
//   z-index: 3;
// }

.card_circle {
  width: 14rem;
  height: 14rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;

  background: linear-gradient(
      231.08deg,
      #5f6fff 14.53%,
      rgba(255, 255, 255, 0) 88.79%
    ),
    linear-gradient(180deg, #ffc530 37.5%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(227.68deg, #ff2e29 86.62%, rgba(255, 255, 255, 0) 86.63%);
}
.card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.img_1 {
  width: 14rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  margin-right: 12px;
  transform: translateZ(8.8rem);
}
.img_2 {
  position: relative;
  top: 0.9rem;
  width: 12rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  margin: 0.5rem;
  transform: translateZ(8.8rem);
}
.img_3 {
  width: 8.8rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  transform: translateZ(8.8rem);
}

.card_info {
  font-family: $secondary-font;
  font-size: 2.6rem;
  transition: all 0.75s ease-out;
  transform: translateZ(8.8rem);
}

.card_title {
  font-size: 3rem;
  margin-top: 2rem;
  transition: all 0.75s ease-out;
  color: $primary-color;
  transform: translateZ(8.8rem);
}

.card_text {
  font-size: 1.4rem;
  padding: 2rem 0rem;
  font-weight: 500;
  transition: all 0.75s ease-out;
  text-transform: uppercase;
  color: $primary-color;
  transform: translateZ(10.8rem);
}

.card_intouch {
  margin-bottom: 1rem;
  transition: all 0.3s ease-out;
  transform: translateZ(8.8rem);
  width: 100%;
  padding: 1rem 0rem;
  background: $accent;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
  border: 3px solid $accent;
  font-family: $primary-font;
  outline: none;
  // transform: translateZ(8.8rem);

  &:hover {
    background: $white;
    color: $accent;
    border: 3px solid $accent;
    font-weight: 600;
    box-shadow: 4px 4px 12px rgba($color: #000000, $alpha: 0.6);
  }
  &:active {
    box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.4);
  }
}
