/* form body */
.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form_home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 44rem;
  margin: 3rem;
  z-index: 3;
  background: $white;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(190, 190, 190, 0.6),
    -6px -6px 16px rgba(255, 255, 255, 0.6);
  border-radius: 32px 0px;
  color: $primary-color;
}

@mixin form_field {
  background: rgba(239, 238, 238, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: inset 6px 6px 16px rgba(118, 115, 112, 0.5),
    inset -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  outline: none;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: $primary-color;
  font-weight: 600;
}

/* name area */
input,
select,
textarea {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  @include form_field();
  border-radius: 18px;
  color: $primary-color;
  font-family: $secondary-font;
}

textarea {
  height: 120px;
}
.form_text {
  position: relative;
  width: 155px;
  height: 33px;
  margin-left: 5.6rem;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.2;
}

.close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 4rem;
  color: $primary-color;
  z-index: 1;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: rotate(90deg);
  }
}

// CONTACT FORM

.contact__form {
  width: 100%;
  height: 100%;
  padding: 8rem;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  color: $white;
  margin: 0 auto;
  &-form {
    width: 60vw;
    margin: 0 auto;
  }
}

// .form__field {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.form__field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  font-family: $secondary-font;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 900;

  textarea {
    font-size: 3rem;
  }
}
body > section.contact__form > from > div:nth-child(9) > submit {
  position: relative;
  left: 50%;
  transform: translate(-55%);
  text-align: center;
  width: 50%;
}
#name,
#email,
#website,
#test,
#cms,
#comments {
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: $white;
  width: 100%;
  margin-left: -2rem;
}

#name::placeholder,
#email::placeholder,
#comments::placeholder {
  color: $white;
  font-size: 3rem;
}

// website
.contact__form > from > div:nth-child(5) > label:nth-child(8) {
  font-size: 3rem;
  position: relative;
  top: -22rem;
  transition: color 0.4s ease;
  cursor: pointer;
  &:hover {
    color: $accent;
  }
}
.toggler__website {
  position: absolute;
  top: 72rem;
  left: -34rem;
  opacity: 1;
  cursor: pointer;
  height: 4rem;
  width: 8rem;
  padding: 0 4rem;
}

// cms
.contact__form > from > div:nth-child(5) > label:nth-child(5) {
  font-size: 3rem;
  position: relative;
  top: -33rem;
  transition: color 0.4s ease;
  cursor: pointer;
  &:hover {
    color: $accent;
  }
}

// testing
.contact__form > from > div:nth-child(5) > label:nth-child(2) {
  font-size: 3rem;
  position: relative;
  top: -49rem;
  transition: color 0.4s ease;
  cursor: pointer;
  &:hover {
    color: $accent;
  }
}
