/* form body */
.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form_home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 44rem;
  margin: 3rem;
  z-index: 3;
  background: $white;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(190, 190, 190, 0.6),
    -6px -6px 16px rgba(255, 255, 255, 0.6);
  border-radius: 32px 0px;
  color: $primary-color;
}

@mixin form_field {
  background: rgba(239, 238, 238, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: inset 6px 6px 16px rgba(118, 115, 112, 0.5),
    inset -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  outline: none;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: $primary-color;
  font-weight: 600;
}

/* name area */
input,
select,
textarea {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  @include form_field();
  border-radius: 18px;
  color: $primary-color;
  font-family: $secondary-font;
}

textarea {
  height: 120px;
}
.form_text {
  position: relative;
  width: 155px;
  height: 33px;
  margin-left: 5.6rem;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.2;
}

.close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 4rem;
  color: $primary-color;
  z-index: 1;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: rotate(90deg);
  }
}

// CONTACT FORM
#contact__main {
  width: 100%;
  height: 20rem;
}

.contact__form {
  width: 100%;
  height: 100%;
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  color: $white;
  margin: 0 auto;
  &-form {
    width: 40vw;
    min-width: 521px;
    margin: 0 auto;
  }
}

.success {
  width: 100%;
  height: 100vh;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  color: $white;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: 6rem;
    position: relative;
    top: -6rem;
  }
}

.form__field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  font-family: $secondary-font;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 900;

  textarea {
    font-size: 3rem;
    max-width: 500px;
  }
}
body > section.contact__form > form > div:nth-child(9) > submit {
  position: relative;
  left: 50%;
  transform: translate(-55%);
  text-align: center;
  width: 50%;
}

#contact_name,
#contact_email,
#contact_website,
#contact_test,
#contact_cms,
#contact_comments {
  background: none !important;
  outline: none;
  border: none;
  box-shadow: none;
  color: $white;
  width: 100%;
  margin-left: -2rem;
  background: none;
  font-size: 3rem;
}

#contact_name::placeholder,
#contact_email::placeholder,
#contact_comments::placeholder {
  color: $white;
  font-size: 3rem;
}

.form__field .btn {
  text-align: center;
  transition: all 0.2s ease;
}

input:-internal-autofill-selected {
  background: none !important;
  color: rgb(232, 240, 254);
}
label {
  line-height: 9rem;
}

body > section > form > div:nth-child(8) > submit {
  margin-top: 8rem;
}

.form__field-check {
  text-align: left;
  margin: 0 auto;
}
body > section.contact__form > form > div.form__field-check > input {
  border: none;
  width: 30px;
  height: 30px;
}

body > section > form > div:nth-child(8) {
  font-size: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}
body > section > form > div:nth-child(8) > input {
  width: 30px;
  height: 30px;
  margin: 0 3rem 2rem 2rem;
}

body > section > form > div:nth-child(9) {
  max-width: 500px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}
