@use 'variables' as *;
@use 'fonts' as *;

.wrapper {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(10, 55vw);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  overflow: scroll;
  height: 100%;
  scroll-snap-type: both mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.active {
  scroll-snap-type: unset;
}

.slide {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
  background: $bg-clear;
  font-size: 3rem;
  text-align: center;
}

.slide:nth-child(1) {
  margin: 0 8rem;
}
